<nav>
    <div class="site-title">
      <a href="/"><h3>ASSIGNMENT 2 NAME</h3></a>
      <p>ASSIGNMENT 2 DESCRIPTION</p>
    </div>
    <ul>
      <li><a href="/">Staff Profiles</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/staffFunctions/createStaffProfile">Add a Staff Profile</a></li>
    </ul>
  </nav>