<nav>
    <div class="site-title">
      <a href="/"><h3>ASSIGNMENT 2 NAME</h3></a>
      <p>ASSIGNMENT 2 DESCRIPTION</p>
    </div>
    <ul>
      <li><a href="/">Front Page</a></li>
      <li><a href="/managerFunctions/staffList">Staff List</a></li>
      <li><a href="/managerFunctions/shiftList">Shift List</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/managerFunctions/createStaffProfile">Add a Staff Profile</a></li>
      <li><a href="/managerFunctions/addShift">Add a Shift</a></li>
    </ul>
  </nav>