<html lang="en">
  <%- include("./partials/head.ejs") %> 

    <body>
      <h1>404 Page</h1>
      <h2>This is the 404 page.</h2>

      <%- include("./partials/nav.ejs") %> 


      <div class="not-found content">
          The page you are looking for has not been found.
          
      </div>
      
      <%- include("./partials/footer.ejs") %> 

    </body>
    </html>