<html lang="en">
  <%- include("./partials/head.ejs") %> 

    <body>
      <h1>About</h1>
      <h2>It's the about page</h2>

      <%- include("./partials/nav.ejs") %> 


      <div class="about content">
          <h2>About this</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nisi possimus dicta, dignissimos culpa nesciunt rem at incidunt iusto hic facilis cumque earum exercitationem, voluptates placeat doloribus, architecto beatae ullam!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nisi possimus dicta, dignissimos culpa nesciunt rem at incidunt iusto hic facilis cumque earum exercitationem, voluptates placeat doloribus, architecto beatae ullam!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid nisi possimus dicta, dignissimos culpa nesciunt rem at incidunt iusto hic facilis cumque earum exercitationem, voluptates placeat doloribus, architecto beatae ullam!</p>
      </div>

      <%- include("./partials/footer.ejs") %> 


    </body>
    </html>