<html lang="en">
  <%- include("../partials/head.ejs") %> 

    <body>
      <h1>Add a shift</h1>
      <h2>Use this form to add a new shift.</h2>

      <%- include("../partials/nav.ejs") %> 


      <div class="create-shift content">
        <!-- name is used for the server stuff i think  -->
        <form action="addShift" method="POST">
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required>
          <br>
          <label for="location">Location:</label>
          <input type="text" id="location" name="location" required>
          <br>
          <label for="staffMember">Staff Member:</label>
          <input type="text" id="staffMember" name="staffMember" >
          <br>
          <button>Submit</button>
        </form>
      </div>
      
      <%- include("../partials/footer.ejs") %> 

    </body>
    </html>