<!-- This is user facing page for adding a shift found at http://localhost:3000/managerFunctions/addShift.
      The user gives input in the Date, Location, Start Time, Duration, and Staff Member fields and hits submit. 
      If inputted correctly, this sends the information to the database and the user is redirected to the Shift List page 
      with the top entry being the recently added shift. 
      If any required information is missing, the user receives a message regarding that and the shift does not go through.-->

<html lang="en">
  <%- include("../partials/head.ejs") %> 

    <body>
      <h1>Add a shift</h1>
      <h2>Use this form to add a new shift.</h2>

      <%- include("../partials/nav.ejs") %> 


      <div class="create-shift content">
        <!-- name is used for the server stuff i think  -->
        <form action="addShift" method="POST">
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required>
          <br>
          <label for="location">Location:</label>
          <input type="text" id="location" name="location" required>
          <br>
          <label for="startTime">Start Time:</label>
          <input type="time" id="startTime" name="startTime" required>
          <br>
          <label for="duration">Duration:</label>
          <p style="color: red" >TODO: What should be the max?</p>
          <input type="number" id="duration" name="duration" min="1" max="8" required>
          <br>
          <label for="staffMember">Staff Member:</label>
          <input type="text" id="staffMember" name="staffMember" >
          <br>
          <button>Submit</button>
        </form>
      </div>
      
      <%- include("../partials/footer.ejs") %> 

    </body>
    </html>