<!-- This is user facing page for adding a profile found at http://localhost:3000/managerFunctions/createStaffProfile.
      The user gives input in the First Name, Last Name, Preferred Name, Work Limit, Phone Number, Address, and Email fields and hits submit. 
      If inputted correctly, this sends the information to the database and the user is redirected to the Staff List page 
      with the top entry being the recently added Profile. 
      If any required information is missing, the user receives a message regarding that and the shift does not go through.-->

<html lang="en">
  <%- include("../partials/head.ejs") %> 

    <body>
      <h1>Create Staff Profile</h1>
      <h2>Use this form to create a profile for a new staff memeber.</h2>

      <%- include("../partials/nav.ejs") %> 


      <div class="create-staffProfile content">
        <!-- name is used for the server stuff i think  -->
        <form action="/managerFunctions" method="POST" onsubmit="successAlert()">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" required>
          <br>
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" required>
          <br>
          <label for="preferredName">Preferred Name:</label>
          <input type="text" id="preferredName" name="preferredName" required>
          <br>
          <label for="workLimit">Work Limit:</label>
          <input type="number" id="workLimit" name="workLimit" >
          <br>
          <label for="phoneNumber">Phone Number:</label>
          <input type="text" id="phoneNumber" name="phoneNumber" required>
          <br>
          <label for="address">Address:</label>
          <input type="text" id="address" name="address" required>
          <br>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" required>
            <br>
          <button>Submit</button>
        </form>
      </div>

      <script>
        function successAlert() {
          alert("Profile successfully created");
        }
      </script>


      
      <%- include("../partials/footer.ejs") %> 

    </body>
    </html>