<!-- This is the user facing home page for all the manager functions. It takes no input other than what's in the nav bar. -->

<html lang="en">
  <%- include("../partials/head.ejs") %> 
 
    <body>
      <h1>Home Page</h1>
      <h2>This is the home page.</h2>

      <%- include("../partials/nav.ejs") %>  

      <div class="homepage">
          <h2>Homepage</h2>

      </div>

      <%- include("../partials/footer.ejs") %> 

    </body>
    </html>