<!-- This page is meant to display the current details of the staff member after clicking "Update Details" page on their profile details page.
The fields are meant to be used to update the info. This is currently not working/not implemented. -->

<html lang="en">
  <%- include("../partials/head.ejs") %> 

    <body>
      <h1>Update Staff Profile</h1>
      <h2>Use this form to update a staff member profile.</h2>

      <%- include("../partials/nav.ejs") %> 


      <div class="update-staffProfile content">
        <!-- name is used for the server stuff i think  -->
        <form action="/managerFunctions" method="PUT">
          <label for="firstName">First Name:</label>
          <input type="text" id="firstName" name="firstName" required>
          <br>
          <label for="lastName">Last Name:</label>
          <input type="text" id="lastName" name="lastName" required>
          <br>
          <label for="preferredName">Preferred Name:</label>
          <input type="text" id="preferredName" name="preferredName" required>
          <br>
          <label for="workLimit">Work Limit:</label>
          <input type="number" id="workLimit" name="workLimit" >
          <br>
          <label for="phoneNumber">Phone Number:</label>
          <input type="text" id="phoneNumber" name="phoneNumber" required>
          <br>
          <label for="address">Address:</label>
          <input type="text" id="address" name="address" required>
          <br>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" required>
            <br>
          <button>Submit</button>
        </form>
      </div>
      
      <%- include("../partials/footer.ejs") %> 

    </body>
    </html>